//- head.pug
head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='TIW4 Authentication base app')
    meta(name='author', content='Romuald THION')
    title  #{title}
    include header_bootstrap.pug
