script.
    document.getElementById('loginForm').addEventListener('submit', e => {
      e.preventDefault();
    
      const username  = document.querySelector('#login').value;
      const password = document.querySelector('#pwd').value;
     
      const loginError =document.querySelector('#loginError');
    
      loginError.innerHTML = "";
      

      const body = JSON.stringify({ username, password});
      
      const options = {
        method: 'POST',
        headers: {
        'Content-type': 'application/json' 
        },
        body: body
      }

      return fetch('/login',options)
        .then(res => res.json())
        .then(data => {
          if (!data.success) {
              loginError.innerHTML = data.msg;
              loginError.className = "alert alert-danger"   ;
          }else{
            return window.location.replace('/');           
          }
        }
      );
    });
