extends layout

block content
 
  .main.container
    .row
      .col-md-6
        h1= title
        p Welcome to #{title}

    .row
      .col-md-6
      h2 Our impressive features
      ul
        li: a(href="login") Login
        li: a(href="signup") Signup
        li: a(href="restricted") Private area (restricted)
        li: a(href="users") List of users (restricted)