<!DOCTYPE html>
<html lang="en">
  <%- include('includes/header') -%>
  <body>
    <div id="main">
      <div class="main container">
        <div class="row">
          <div class="col-md-6">
            <p>Welcome to the restriced area dear <%= user %></p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%- include('includes/footer') -%>
</html>
