extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1= title
        p Welcome to #{title}

    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up

        // register form, courtesy of https://teamtreehouse.com/library/creating-a-registration-form-with-pug-jade-2
        form#subscribeForm
          div.form-group
            label(for='username') Username:
            input#username.form-control(type='text', placeholder='your_login' name='username')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com'  name='email')
          div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password'  name='password')
          div.form-group
            label(for='pw2') Confirm Password:
            input#pw2.form-control(type='password' name='confirmPassword')
          div.form-group
            div.g-recaptcha(data-sitekey='6Lc-C8EUAAAAAFDsErO5K5-Wxs-5xAPlTDuwm7XU')
          input.btn.btn-primary(type='submit' value='Submit')
          
  script.
    document.getElementById('subscribeForm').addEventListener('submit', e => {
      e.preventDefault();
      const username = document.querySelector('#username').value;
      const email = document.querySelector('#email').value;
      const pw = document.querySelector('#pw').value;
      const pw2 = document.querySelector('#pw2').value;
      const captcha = document.querySelector('#g-recaptcha-response').value;
      const body = JSON.stringify({ username, email, pw,pw2,captcha});
      
      const options = {
        method: 'POST',
        headers: {
        'Content-type': 'application/json' 
        },
        body: body
      }


      return fetch('/signup',options)
      .then(res => res.json())
      .then(data => {
        alert(data.msg);
        if (data.success) 
          return location.reload();
        }
      );
    });
          